.portfolio-modal {
  position: fixed;
  z-index: 10;
  top: 3rem;
  bottom: 3rem;
  left: 3rem;
  right: 3rem;
  background: white;
  box-shadow: 0 0 0 5em rgba(black, 0.5);
  overflow-y: scroll;
}

.portfolio-header {
  text-align: left;
  padding: 5em 0;
}

.portfolio-header:nth-of-type(1) {
  background-image: url(../dist/img/projects/showcase.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-title-box {
  background: rgba($accent, 0.75);
  padding: 3em 0 3em 3em;
  color: white;
  width: 70%;

  .portfolio-title {
    font-size: 3.5rem;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      height: 1px;
      margin: 0.5em 0;
      background: white;
      width: 100%;
    }
  }
}
