.portfolio-modal {
  position: fixed;
  z-index: 10;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  background: white;
  box-shadow: 0 0 0 3em rgba(black, 0.9);
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-close {
  background: transparent;
  position: fixed;
  left: 3em;
  top: 4em;
  border: 0 transparent;
  width: 2em;
  height: 2em;
  padding: 3px -3px;
  cursor: pointer;
}

.portfolio-header {
  text-align: left;
  padding: 5em 0;
  margin-bottom: 2em;
}

// .portfolio-header:nth-of-type(1) {
//   background-image: url(../dist/img/projects/showcase.jpg);
//   background-size: cover;
//   background-position: center;
// }

.portfolio-title-box {
  background: rgba($accent, 0.75);
  padding: 3em 0 3em 3em;
  color: white;
  width: 70%;
  position: absolute;
  top: 6.45%;
  left: 2.99%;

  .portfolio-title {
    font-size: 3.5rem;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      height: 1px;
      margin: 0.5em 0;
      background: white;
      width: 100%;
    }
  }
}

.portfolio-subtitle {
  font-size: 1.5rem;
}

.portfolio-content {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em;
  color: #000;
}

.portfolio-full-width {
  width: 90vw;
  margin: 40px 35px;
  height: 80vh;
}
